body {
  font-family: Arial, sans-serif;
  background-color: #f6faf7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 50px 40px 40px 40px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.container h1 {
  position: absolute;
  left: 500;
  top: 0;
}

.logo {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  color: #1f2d3d;
  margin-top: 25px;
  text-align: center;
}

label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0 5px;
}

input,
select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background: #f0f4f8;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
}

.input-group input {
  flex: 1;
  padding-right: 40px;
}

.input-group .icon {
  position: absolute;
  right: 15px;
  top: 35%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #555;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  margin-bottom: 15px;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: bold;
}

.radio-group input {
  margin: 0;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: bold;
  padding-left: 40px;
}

.checkbox-group input {
  margin: 0px;
  width: 16px;
  height: 16px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #1f2d3d;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
 background-color: #2563EB;
}

.login-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.login-link a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}
.checkbox-group a:hover {
  color: blue;
}
